header {background: #FFFFFF;
        color: white;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* 아래 그림자선 */
}

/* 왼쪽 로고 */
.nav-left {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 800;
}

/* 가운데 메뉴: 남는 공간을 차지 + 가운데 정렬 */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

/* 오른쪽: 오른쪽 끝으로 */
.nav-right {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;
}

nav {
    display: grid; /* 배치방식을 Grid로 설정 */
    grid-template-columns: auto 1fr auto; /* 왼쪽 / 가운데 / 오른쪽 */
    align-items: center;
}

header nav a{
  display: inline-block;
  padding: 8px 14px; /* 배경색 변화를 표현하기 위해 패딩 추가 */
  border-radius: 6px; /* 경계를 타원으로 둥글게 */
  color: #000000;
  text-decoration: none;
}

header nav a:hover{
  background-color: #f3eeee; /* 마우스 커서를 대면 배경색 변화  */
}