{% extends "base/index.html" %}

{% block title %}<title>Fitjob | 홈</title>{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/fitjob/question_detail.css' %}">
{% endblock %}
{% block header %}
<header>
    <nav>
        <!-- 왼쪽 : 로고 -->
        <div class="nav-left">
            <a href="{% url 'fitjob:main' %}">
                <img src="{% static 'images/logo.png' %}" alt="로고">
            </a>
        </div>

        <!-- 가운데: 메뉴 -->
        <div class="nav-center">
            <a href="/resume/">자기소개서 평가</a>
            <a href="/interview/">면접 질문</a>
            <a href="{% url 'fitjob:board' %}"><span style="color:blue;">취업톡</span></a>
        </div>

        <!-- 오른쪽: 로그인/회원가입 -->
        <div class="nav-right">
            {% if user.is_authenticated %}
                <p><span style="font-weight:900; color:red;">{{ user.username }}</span>님 환영합니다.</p>
                <a href="{% url 'user:logout' %}">로그아웃</a>
            {% else %}
                <a href="{% url 'user:login' %}">로그인</a>
            {% endif %}
            <a href="{% url 'user:signup' %}">회원가입</a>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="board-layout">
    <!-- 왼쪽 사이드 -->
    <aside class="board-side">
      <a class="board-write-btn" href="{% url 'fitjob:question_create' %}">
        ✍ 질문 · 글쓰기
      </a>

      {% if user.is_authenticated %}
        <div class="board-side-card">
          <img class="board-side-avatar" src="{% static 'images/default_profile.png' %}" alt="프로필 사진">
          <p style="font-size: 13px; color: black; text-align: center; margin: 0 0 12px;"><span style="font-weight: bold;">{{ user.nickname }}</span>님</p>
          <p style="font-size: 13px; color: #777; text-align: center; margin: 0 0 12px;">글 {{user_question_count}} | 답변 0</p>
        </div>
      {% else %}
        <div class="board-side-card">
          <img class="board-side-avatar" src="{% static 'images/default_profile.png' %}" alt="프로필 사진">
          <p class="board-side-text">로그인 후 질문과 활동을 시작해보세요</p>
          <a class="board-side-login" href="{% url 'user:login' %}">로그인</a>
        </div>
      {% endif %}
    </aside>
  
  <main class="board-main">
    <section class="panel">
        <div class="post">
            <h2 class="title">{{ question.title }}</h2>
            <div class="post-header">
                <img class="avatar" src="{% static 'images/default_profile.png' %}" alt="프로필" />
                <div class="post-header__info">
                    <p class="nickname">{{ question.user_id.nickname }}</p> 
                    <p class="date">{{ question.created_at|date:"Y-m-d" }} 작성</p>
                </div>
            </div>
            <hr style="margin: 20px 0; border:0; border-top:1px solid #cecece;"">
            <div class="content">{{ question.content|linebreaks }}</div>
            <hr style="margin-top:40px; border:0; border-top:1px solid #cecece;">
        </div>
    </section>

  </main>
  <hr style="margin: 40px 0;">
</div>
{% endblock %}