{% extends "base/index.html" %}

{% block title %}<title>Fitjob | 글 작성</title>{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/fitjob/question.css' %}">
{% endblock %}
{% block header %}
    {% include "base/header.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="panel">
        <h2>질문 등록</h2>
        <form method="post" action="{% url 'fitjob:question_create' %}">
            {% csrf_token %}
            <!-- 🔴 에러 영역 -->
            <div class="error-row">
                <div class="error-fields">
                    {% if form.errors %}
                    <div class="error">
                        {% if form.non_field_errors %}{{ form.non_field_errors.0 }}<br>{% endif %}
                        {% if form.title.errors %}{{ form.title.errors.0 }}<br>{% endif %}
                        {% if form.content.errors %}{{ form.content.errors.0 }}{% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="fields">
                    <div class="field">
                        <input type="text" 
                               name="title"
                               placeholder="질문 제목을 입력해주세요 (최대 100자)"
                               value="{{ form.data.title|default:'' }}" />
                    </div>
                    <div class="field">
                        <textarea name="content"
                                  placeholder="내용을 입력해주세요 (10~1500자)">{{ form.data.content|default:'' }}</textarea>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn" type="submit">질문 등록</button>
                <a class="btn-cancel" href="{% url 'fitjob:board' %}">취소</a>
            </div>
        </form>
    </section>
</div>
{% endblock %}