{% extends "base/index.html" %}

{% block title %}<title>Fitjob | 로그인</title>{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <a class="home-link" href="{% url 'fitjob:main' %}">HOME</a>
        <section class="panel">
            <div class="hero">
              <div class="tagline" style="text-decoration:underline;"><span style="font-weight:900;">면접</span>을 예측하고, <span style="font-weight:900;">합격</span>을 설계하다.</div>
              <div class="logo" aria-label="브랜드">Fitjob</div>
            </div>
              <form>
                <div class="form-row">
                  <div class="fields">
                    <div class="field">
                      <input type="text" placeholder="ID를 입력하세요" autocomplete="username" />
                    </div>
                    <div class="field">
                      <input type="password" placeholder="비밀번호를 입력하세요" autocomplete="current-password" />
                    </div>
                  </div>
                  <button class="btn" type="submit">로그인</button>
                </div>

              </form>
            </div>
          </div>
        </section>
{% endblock %}