{% extends "base/index.html" %}

{% block title %}<title>Fitjob | 로그인</title>{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <a class="home-link" href="{% url 'fitjob:main' %}">HOME</a>
        <section class="panel">
            <div class="hero">
              <div class="tagline" style="text-decoration:underline;"><span style="font-weight:900;">면접</span>을 예측하고, <span style="font-weight:900;">합격</span>을 설계하다.</div>
              <img src="{% static 'images/logo2.png' %}" alt="로고2" style="height: 45px;">
            </div>
              <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <!-- 🔴 에러 영역 -->
                <div class="error-row">
                    <div class="error-fields">
                        {% if form.errors %}
                        <div class="error">
                            {% if form.non_field_errors %}{{ form.non_field_errors.0 }}<br>{% endif %}
                            {% if form.username.errors %}{{ form.username.errors.0 }}<br>{% endif %}
                            {% if form.password.errors %}{{ form.password.errors.0 }}{% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                  <div class="fields">
                    <div class="field">
                      <input type="text" name="username" placeholder="ID" autocomplete="username" value="{{ form.data.username|default:'' }}" />
                    </div>
                    <div class="field">
                      <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" />
                    </div>
                  </div>
                  <button class="btn" type="submit">로그인</button>
                </div>
                <input type="hidden" name="next_url", value="{{ next_url|default:'' }}">
              </form>
            </div>
          </div>
        </section>
{% endblock %}